.filter {
  display: flex;
  flex-direction: column;
  background-color: orange;
  width: 18%;
  height: 100%;
  padding: 20px;

  .filter__title {
    padding-bottom: 30px;
  }

  .filter__form {
    label {
      margin-left: 10px;
    }

    div {
      padding-bottom: 15px;
    }
  }
}

.filter--btn {
  border: none;
  background-color: black;
  width: 100%;
  padding: 15px;
  color: orange;
  border-radius: 4px;
}
